<!DOCTYPE html>
<html>
    <head>Local&Session Storage</head>
<body>
    <div>
    <h2>Local Storage</h2>
    <p>Shared between all tabs and windows from the same origin<br>
    The data does not expire .It remains after the browser restart and even Os reboot </p>
   
    </div>
    
    <div>
        <h2>Session Stroage</h2>
        <p>This is used much less often than local storage<br>
            the session storage exist only within the current browser tab </p>
        <p>Another tab with the same pages will have a different stroge<br>but its shared between iframes in the same tab </p>
    </div>
</body>
</html>