<!DOCTYPE html>

<html lang="en">


<head>

<title>question7</title>

</head>


<body>

    <p id="id"></p>
    <p id="id1"> </p>

<script>

function remove(num) {

var x,

len = num.length,

out = [],

obj = {};


for (x = 0; x < len; x++) {

obj[num[x]] = 0;

}

for (x in obj) {

out.push(x);

}

return out;

}

var num1 = [1, 2, 2, 4, 5, 4, 7, 8, 7, 3, 6];

result = remove(num1);

document.getElementById('id').innerHTML=num1
document.getElementById('id1').innerHTML=result




</script>


</body>


</html>