<!DOCTYPE html>

<html lang="en">

<head>

<title>question6</title>

</head>

<body>
    <p id="id"></p>

<script>

const arr1=[3, 'a', 'a', 'a', 2, 3, 'a', 3, 'a', 2, 4, 9, 3];

let f = 1;

let f1= 0;

let item;

for (let i=0; i<arr1.length; i++)

{

for (let j=i; j<arr1.length; j++)

{

if (arr1[i] == arr1[j])

f1++;

if (f<f1)

{

f=f1;

item = arr1[i];

}

}

f1=0;

}
document.getElementById('id').innerHTML=`${item} ( ${f} times ) `
//console.log(`${item} ( ${f} times ) `) ;

</script>

</body>

</html>