<!DOCTYPE html>

<html lang="en">


<head>

<title>Question8</title>

</head>


<body>

    <p id="id"></p>

<script>

var color = ["Blue ", "Green", "Red", "Orange", "Violet", "Indigo", "Yellow "];


function func(n) {

var o = ["th", "st", "nd", "rd"],

x = n % 100;

return x + (o[(x - 20) % 10] || o[x] || o[0]);

}


for (n = 0; n < color.length; n++) {

var res = n + 1;


var result= (func(res) + " one is" + color[n] + ".");


document.getElementById('id').innerHTML=result

}

</script>


</body>


</html>