<!DOCTYPE html>

<head>

<form name="myform" method="post" onsubmit="fun()">

<input type="text" name="word" placeholder="Enter Text" />

<button onclick="fun()">Search</button>

</form>

</head>

<body>

<p id="root"></p>

<script>

function fun() {

const array = ["agile", "crm", "mantra", "technologies", "500apps", "infinity"];

const substring = document.myform.word.value;

const match = array.find(element => {

if (element.includes(substring)) {

return true;

}

});

document.write(match);

if (match !== undefined) {

}

}

</script>

</body>

</html>



